body {
	font-family: 'Courier New', Courier, monospace;
}

@media only screen and (min-width: 600px) {
	.pizzaCount {
		font-weight: bold;
	}

	h1 {
		text-align: center;
	}
	
	.small {
		width: 35px;
		height: 35px;
	}
	
	.medium {
		width: 35px;
		height: 35px;
	}
	
	.large {
		width: 35px;
		height: 35px;
	}
	
	.myPizzas {
		display: flex;
		justify-content: space-around;
	}
	
	.smallContainer {
		height: 475px;
		width: 325px;
		background-color: rgb(102, 129, 74);
		text-align: center;
	}

	.mediumContainer {
		height: 475px;
		width: 325px;
		background-color: rgb(180, 243, 117);
		text-align: center;
	}

	.largeContainer {
		height: 485px;
		width: 525px;
		background-color: rgb(227, 245, 64);
		text-align: center;
	}
	
	.total {
		text-align: center;
	}
	
}

@media only screen and (max-width: 600px) {
	.pizzaCount {
		font-weight: bold;
	}

	h1 {
		text-align: center;
	}
	
	.small {
		width: 35px;
		height: 35px;
	}
	
	.medium {
		width: 35px;
		height: 35px;
	}
	
	.large {
		width: 35px;
		height: 35px;
	}
	
	.myPizzas {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.smallContainer {
		height: 475px;
		width: auto;
		background-color: rgb(102, 129, 74);
		text-align: center;
	}
	
	.mediumContainer {
		height: 475px;
		width: auto;
		background-color: rgb(180, 243, 117);
		text-align: center;
	}
	
	.largeContainer {
		height: 475px;
		width: auto;
		background-color: rgb(227, 245, 64);
		text-align: center;
	}
	
	.total {
		text-align: center;
	}
  }

